.p-layout-header {
  .container {
    display: flex;
    align-items: center;
    height: 86px;
    justify-content: space-between;
  }

  &__left {
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
