.p-layout-header {
  .container {
    display: flex;
    align-items: center;
    height: 86px;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      height: auto;
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__left {
    position: relative;

    @include media-breakpoint-down(md) {
      border-bottom: #{$border-width * 2} dashed $gray-200;
      width: 100%;
      padding: #{$spacer * 0.75} 0;
    }

    @include media-breakpoint-down(sm) {
      .p-layout-header__claim {
        display: none;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include media-breakpoint-down(md) {
      border-bottom: #{$border-width * 2} dashed $gray-200;
      width: 100%;
      align-content: flex-end;
      padding: #{$spacer / 2} 0;
    }
  }

  &__actions {
    display: none;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    @include media-breakpoint-down(md) {
      display: inline-flex;
    }
  }

  &__cartIcon {
    display: inline-block;
    height: 35px;
    width: 31px;
    background: asset-url('icon-cart');
  }

  &__cartIconNegative {
    background: asset-url('icon-cart-negative');
  }

  &__navbarToggler {
    background: transparent;
    border: 0;
    width: 32px;
    height: 35px;
    display: inline-flex;
    align-items: flex-end;
    padding: 0;
    position: relative;
    font-size: $font-size-sm;
    margin-left: 24px;

    &::before,
    &::after {
      content: '';
      display: block;
    }

    &::before,
    &::after,
    span {
      position: absolute;
      height: $border-width;
      width: 100%;
      left: 0;
      background-color: $gray-light;
    }

    &::before {
      top: 0;
    }

    span {
      top: 7px;
    }

    &::after {
      top: 14px;
    }
  }

  .p-layout-header__cartIcon {
    position: relative;

    &::before {
      content: attr(data-count);
      font-size: 11px;
      background-color: $black;
      color: $white;
      border-radius: 50%;
      display: block;
      position: absolute;
      right: -6px;
      top: -6px;
      width: 16px;
      height: 16px;
      text-align: center;
    }
  }

  &__basket {
    font-weight: $font-weight-bold;
    text-decoration: none;
    color: $white;
    padding: 1rem 2.5rem 1rem 0;
    position: relative;

    &:hover {
      color: $white;
      text-decoration: underline;
    }

    &::after {
      content: attr(data-count);
      font-size: 11px;
      background-color: $white;
      color: $black;
      border-radius: 50%;
      display: block;
      position: absolute;
      right: -6px;
      top: 4px;
      width: 16px;
      height: 16px;
      text-align: center;
    }
  }

  &__flag {
    width: 24px;
    height: 16px;
    margin-left: 20px;

    //TODO: Dodat SVG.
    &[data-flag="cs"] {
      background: asset-url('icon-flag-cz');
    }

  }
}