.p-products-related {
  &__title {
    margin-bottom: 36px;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__name {
    margin: 0;
  }

  &__buttonWrapper {
    text-align: center;
    padding: 36px 0 60px;
  }
}