.p-products-detail {
  &__data {
    padding-left: 45px;

    @include media-breakpoint-down(md) {
      padding-left: #{$grid-gutter-width / 2};
    }
  }

  &__info-list {
    font-size: $font-size-sm;
    list-style: none;
    padding: 0;
    margin: 32px 0;
  }

  &__info-list-item {
    display: flex;
    align-items: center;

    &+& {
      margin-top: 16px;
    }
  }
}
