.p-products-colors {
  display: flex;
  margin: -5px;
}

.p-products-colors-item {
  padding: 5px;
  position: relative;

  &[data-selected] {

    &::before {
      content: '';
      display: block;
      position: absolute;
      border: 2px solid black;
      top: 5px;
      left: 5px;
      bottom: 5px;
      right: 5px;
    }
  }

  &__square {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &[data-border] {
      border: $border-width solid $gray-300;
    }
  }

  &__add {
    background-image: asset-url("products-colors-add.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media only screen and (min-resolution: 192dpi) {
      background-image: asset-url("products-colors-add@2x.jpg");
    }
  }

  &__input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    outline: none;
    width: 100%;
    height: 100%;
  }
}