$black: black;
$white: white;
$body-color: $black;
$gray: #8C8C8C;
$gray-100: #B8B8B8; // Input, Textarea border
$gray-200: #C5C5C5; // Radio, Checkbox border
$gray-300: #CDCDCD; // Radio, Checkbox border
$gray-400: #E2E2E2; // General border color
$gray-500: #F0F0F0; // Form element background
$gray-light: #212121;
$gray-footer: #F3F3F3; // Footer BG

$primary: $black;
$secondary: $gray;
$danger: #d0021b;
$dark: $black;
$info: red;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: false;
$enable-shadows: false;
$enable-rfs: false;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;
$spacers: (0: 0,
  1: $spacer / 2,
  2: $spacer * 0.75,
  3: $spacer,
  4: $spacer * 1.25,
  5: $spacer * 1.5,
);


// Body
//
// Settings for the `<body>` element.

$body-bg: $white;
$body-color: $black;


// Components
//
// Define common padding and border radius sizes and more.

$border-width: 1px;
$border-color: $black;
$border-radius: 0;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-weight-bold: bold;
$font-size-base: 0.875rem; // 14px
$font-size-sm: 0.75rem; // 12px
$font-size-lg: 1rem; // 16px
$font-size-xl: 1.25rem; // 20px

$headings-color: $body-color;
$headings-font-weight: $font-weight-bold;
$headings-letter-spacing: normal;
$headings-line-height: 1.25;

$font-family-sans-serif-default: "Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";

$text-muted: $gray;

$hr-margin-y: $spacer * 3;
$hr-color: null;
$hr-opacity: 1;

$font-family-sans-serif: $font-family-sans-serif-default;
$font-family-polaris: "Polaris-Light",
$font-family-sans-serif-default;

$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

$headings-margin-top: $spacer / 2;
$headings-margin-bottom: $spacer * 0.75;

$h1-font-size: 62px;
$h1mag-font-size: 32px;
$h2-font-size: 36px;
$h3-font-size: 16px;
$h4-font-size: 12px;

$h1-margin-top: 0;
$h1-margin-bottom: 2 * $spacer;

$h2-margin-top: 2 * $spacer;
$h2-margin-bottom: $spacer;

$h3-margin-top: 2 * $spacer;
$h3-margin-bottom: $spacer;

$enable-validation-icons: false;

// Font sizes
// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
// scss-docs-start container-max-widths

$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px,
  xxl: 1320px,
);

// Links
//
// Style anchor elements.

$link-color: #8c8c8c;
$link-decoration: underline !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: none;

// Breadcrumbs
$breadcrumb-font-size: 0.75rem;
$breadcrumb-padding-y: $spacer;
$breadcrumb-padding-x: 0;
$breadcrumb-item-padding-x: 0.5rem !default;
$breadcrumb-margin-bottom: 0;
$breadcrumb-bg: transparent;
$breadcrumb-divider-color: $secondary;
$breadcrumb-active-color: $secondary;
$breadcrumb-border-radius: null;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y: 0.5rem;
$btn-padding-x: 1rem;

$btn-link-color: $link-color !default;
$btn-link-hover-color: $link-hover-color;

$btn-block-spacing-y: 0.5rem !default;

$btn-transition: color 0.15s ease-in-out,
background-color 0.15s ease-in-out,
border-color 0.15s ease-in-out,
box-shadow 0.15s ease-in-out !default;

// Badges

$badge-font-size: $font-size-sm;
$badge-font-weight: $font-weight-bold;
$badge-padding-x: 0.5rem;
$badge-border-radius: $border-radius !default;


// Navs

$nav-link-padding-y: 1rem;
$nav-link-font-weight: $font-weight-bold;

// Navbar

$navbar-padding-y: 0;
$navbar-nav-link-padding-x: 1.5rem;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $navbar-dark-color;